@import "../../consts/block-mixins.scss";

.photo-block {
  width: 100%;
  @include to-center_column($justify: center);
  background-color: $dark-background-color;
  box-sizing: border-box;
  .photo-block__title {
    text-align: center;
  }
  .photo-block__navigation {
    @include gridAutoFill(
      $template-cols: repeat(auto-fit, 340px),
      $gap: 5px,
      $justify: space-around
    );
    padding: 2%;
    object-fit: cover;

    .photo-block__info-block {
      @include link-list();
    }
  }

  .photo-block__description {
    @include block-text($text-color: $light-text-color);
    @include link-list($color: $light-text-color);
    width: 70%;
    text-align: center;
    margin: 20px;
    box-sizing: border-box;

    &.mobile {
      width: 100%;
    }
  }
  // .photo-block__description:hover {
  //   @include text-link-hover();
  // }
}
