@import "../../../consts/block-mixins.scss";

.field-links {
  @include gridAutoFill($template-cols: repeat(2, 1fr));
  width: 100%;
  overflow: hidden;
  padding: 2%;
  &.tablet {
    grid-template-columns: repeat(1, 1fr);
  }
  &.mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  .field-links__link {
    @include to-center-row($justify: flex-start);
    @include link-list;
    transition: $transition;
    text-align: center;
    &.tablet {
      @include to-center-row($justify: center);
    }
    &.mobile {
      @include to-center-row($justify: center);
    }
  }
  .field-links__icon {
    width: 60px;
    height: 60px;
    padding: 1%;
  }
  // }
}
