@import "../../consts/block-mixins.scss";

.black-text-block {
  width: 100%;
  @include to-center_column($justify: center);
  background-color: $dark-background-color;
  box-sizing: border-box;
  padding: 1%;
  height: fit-content;

  .black-text-block__title {
    max-width: 70%;
  }
  .black-text-block__description {
    max-width: 70%;
    text-align: center;
    margin-bottom: 20px;
  }
  .black-text-block__text {
    @include font-style($color: $light-text-color, $font-family: $vollkorn-font, $font-size: 30px);
    max-width: 70%;
    text-align: start;
    &.tablet {
      font-size: 25px;
    }
    &.mobile {
      font-size: 20px;
    }
  }
  .black-text-block__text:first-of-type {
    padding: 1% 0 0;
  }
  .black-text-block__text:last-of-type {
    padding: 0 0 1%;
  }
  .black-text-block__button {
    margin: 3% 0;
  }
}
