@import "../../consts/block-mixins.scss";

.coworking {
  @include to-center_column();
  width: 100%;
  .coworking__titles {
    width: 100%;
    @include title-text();
    text-align: center;
    padding: 2%;
    border-bottom: $borders-default;
  }
  .coworking__title {
    width: 80%;
  }
  .coworking__titles:hover {
    cursor: pointer;
  }
  .coworking__info {
    @include to-center_column($justify: center);
    width: 50%;

    padding: 2%;
    &.tablet {
      width: 80%;
    }
    &.mobile {
      width: 100%;
    }
  }
  .coworking__price {
    @include gridAutoFill($template-cols: repeat(2, minmax(100px, 1fr)), $gap: 1px);
    background-color: $border-color;
    padding: 1px;
    overflow: hidden;

    .coworking__price-label {
      background-color: $light-background-color;
      @include block-text();

      @include list-without-dots();
      @include to-center_row($justify: center);

      &.mobile {
        font-size: 14px;
      }
    }
  }
  .coworking__grid-block {
    width: 100%;
    border-bottom: $borders-default;

    @include to-center_column($justify: center);
    padding: 3%;
    .coworking__grid {
      max-width: 1200px;
      @include gridAutoFill($template-cols: repeat(3, minmax(250px, 1fr)), $gap: 15px);
      box-sizing: border-box;
      overflow: hidden;
      box-sizing: border-box;
      padding: 1px;
      &.tablet {
        grid-template-columns: repeat(2, minmax(250px, 10fr));
      }
      &.mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
