@import "../../../consts/block-mixins.scss";

.slider {
  @include to-center_row($justify: flex-start);
  width: 167px;
  margin: 0;
}

.slider__title {
  @include subtitle-text();
  padding: 0 2%;
}
