@import "../../consts/block-mixins.scss";
@import "../../consts/text-mixins.scss";

.consult {
  .consult__grid-block {
    width: 100%;
    border-bottom: $borders-default;
    border-top: $borders-default;
    @include to-center_column($justify: center);
    padding: 3%;
  }
  .consult__grid {
    max-width: 1500px;
    @include gridAutoFill($template-cols: repeat(auto-fit, minmax(240px, 1fr)), $gap: 15px);
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px;
  }
  @media screen and (max-width: 1030px) {
    .consult__grid {
      @include gridAutoFill($template-cols: repeat(2, minmax(240px, 1fr)), $gap: 10px);
    }
  }

  @media screen and (max-width: 520px) {
    .consult__grid {
      @include gridAutoFill($template-cols: repeat(1, minmax(240px, 1fr)), $gap: 10px);
    }
  }
}

.subtitle_link {
  @include link-list();
}
