@import "../../../consts/block-mixins.scss";

.link-background {
  position: relative;
}

.link {
  @include link-list();
  @include font-style($font-size: 24px, $font-weight: 500, $font-family: $sofia-font);
  &.desktopHD {
    @include font-style($font-size: 20px, $font-weight: 500, $font-family: $sofia-font);
  }
  &.desktop {
    @include font-style($font-size: 16px, $font-weight: 500, $font-family: $sofia-font);
  }
  &.tablet {
    color: $light-text-color;
  }
  &.mobile {
    color: $light-text-color;
  }
}
.link:hover {
  color: $light-text-color;
}

.link_active {
  text-decoration: underline;
}
