@import "../../consts/block-mixins.scss";

.footer {
  width: 100%;
  @include to-center_column($justify: center);
  border-top: $borders-default;
  margin-top: 30px;
  padding: 30px 20px;
  .footer__designed {
    @include to-center_row($justify: center);
    padding: 10px;
    &.tablet {
      @include to-center_column();
      margin-top: 8%;
    }
    &.mobile {
      @include to-center_column();
      margin-top: 8%;
    }
  }
  .footer__label {
    @include font-style($font-size: 14px);
    text-align: center;
  }
  .footer__copy {
    @include font-style($font-size: 20px);
  }
  .footer__logo {
    width: 60px;
  }
  .footer__company {
    @include font-style();
  }
}
