@import "../../../consts/block-mixins.scss";

.button {
  @include button();
  &.dark {
    color: $light-text-color;
  }
  &.mobile {
    width: 300px;
  }
  &.tablet {
    font-size: 12px;
    width: 150px;
  }
  &.desktop {
    width: 200px;
  }
  &.button {
    width: 150px;
  }
}
.button:hover {
  cursor: pointer;
  background-color: #00000005;
}
