@import "../../../consts/block-mixins.scss";

.users-forms {
  position: relative;

  @include to-center_column();
  border-radius: 10px;
  max-width: 80vw;
  max-height: 80vh;

  object-fit: cover;
  z-index: 4;
  background: border-box rgb(255, 255, 255);

  .users-forms__close {
    background-image: url(../../../assets/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    top: -30px;
    right: -30px;
    opacity: 1;
    transition: $transition;
  }
  .users-forms__close:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .users-forms__image {
    max-width: 80vw;
    max-height: 80vh;
    &.tablet {
      max-width: 100vw;
      max-height: 100vh;
    }
    &.mobile {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
  .users-forms__content {
  }
}
.users-forms__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include to-center_column($justify: center);
  background-color: #6a5d5d50;
  z-index: 4;
}
