@import "../../consts/block-mixins.scss";

.black-block {
  width: 100%;
  @include to-center_column($justify: center);
  background-color: $dark-background-color;
  box-sizing: border-box;

  .black-block__navigation {
    @include gridAutoFill(
      $template-cols: repeat(auto-fit, minmax(280px, 1fr)),
      $gap: 20px 0,
      $align: auto
    );
    padding: 2%;
    height: 100%;

    .black-block__info-block {
      @include link-list();
      height: 100%;
    }
  }
  .black-block__navigation_safari {
    @include to-center_row($align: initial);
    padding: 2%;
    height: 100%;
  }
  .black-block__card {
    @include list-without-dots();
    width: 100%;
    height: 100%;
  }
  .black-block__description {
    @include block-text($text-color: $light-text-color);
    @include link-list($color: $light-text-color);
    text-align: center;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: $borders-default;
    padding: 2%;

    &.mobile {
      margin: 50px 6%;
    }
  }
}
