@import "../../../consts/block-mixins.scss";

.info-card {
  @include to-center_column($justify: flex-start);
  background-color: $light-background-color;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding: 5%;

  &.black {
    background-color: unset;
    box-sizing: border-box;
    border: $borders-default;
    min-height: fit-content;
    // max-height: 50vh;
  }
}
.info-card__title {
  margin-bottom: 20px;
  &.black {
    color: $light-text-color;
  }
}
.info-card__description {
  @include block-text();
  &.black {
    color: $light-text-color;
  }
}
