@import "../../consts/block-mixins.scss";

.drop-container {
  @include to-center_column();
  width: 100%;
  height: fit-content;
  padding: 2%;

  .drop-container__text {
    @include drop-list-text();
    width: 95%;
    margin: 20px 0;
  }
}
