$light-background-color: #f2eeea;
$sofia-font: "Sofia Sans Extra Condensed";
$fira-font: "Fira Sans Extra Condensed";
$yanone-font: "Yanone Kaffeesatz";
$vollkorn-font: "Vollkorn";
$dark-background-color: #000;
$dark-text-color: #000;
$light-text-color: #fff;
$hover-color: #e4e4e0;
$border-color: #979797;
$separator-color: #999;
$main-font-family: $fira-font, Arial, sans-serif;
$body-width: 90vw;
$borders-default: 1px solid $border-color;

// $page-width:
$transition: 0.3s ease-in;
$transition-value:
  opacity 0.2s linear,
  text-shadow 0.3s linear;
