@font-face {
  font-family: "Mettlach";
  src:
    local("Mettlach"),
    url("../../consts/fonts/Mettlach.woff2") format("woff2"),
    url("../../consts/fonts/Mettlach.woff") format("woff"),
    url("../../consts/fonts/Mettlach.ttf") format("truetype"),
    url("../../consts/fonts/Mettlach.otf") format("opentype");
  font-display: swap;
  font-weight: regular;
}
@import "./fonts/mettlachFont.scss";

$mettla-font: "Mettlach";
$sofia-font: "Sofia Sans Extra Condensed";
$fira-font: "Fira Sans Extra Condensed";
$rubik-font: "Rubik Lines";
$yanone-font: "Yanone Kaffeesatz";
$narrow-font: "PT Sans Narrow";
$alumni-font: "Alumni Sans";
$yeseva-font: "Yeseva One";
$vollkorn-font: "Vollkorn";

$light-background-color: #f9faec;
$dark-background-color: #5c4b51;
$dark-text-color: #000;
$light-text-color: #fff;
$hover-color: #e4e4e0;
$border-color: #979797;
$separator-color: #999;
$main-font-family: $fira-font, Arial, sans-serif;
$body-width: 90vw;
$borders-default: 1px solid $border-color;

// $page-width:
$transition: 0.3s ease-in;
$transition-value:
  opacity 0.2s linear,
  text-shadow 0.3s linear;
