$dark-background-color: #f2eeea;
$light-background-color: #000;
$dark-text-color: #000;
$light-text-color: #fff;
$border-color: #979797;
$separator-color: #999;
$main-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$body-width: 90vw;
$hover-border-color: #747474;

$transition-value:
    opacity 0.2s linear,
    text-shadow 0.3s linear;
