@font-face {
  font-family: "Mettlach";
  src:
    local("Mettlach"),
    url("./fonts/Mettlach.woff2") format("woff2"),
    url("./fonts/Mettlach.woff") format("woff"),
    url("./fonts/Mettlach.ttf") format("truetype"),
    url("./fonts/Mettlach.otf") format("opentype");
  font-weight: regular;
}
