@import "./consts.scss";

@mixin to-center_row($align: center, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin to-center_column($align: center, $justify: space-between) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}
@mixin font-style(
  $font-family: $main-font-family,
  $font-size: 18px,
  $font-weight: 400,
  $line-height: 1.24,
  $font-style: normal,
  $color: $dark-text-color
) {
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  color: $color;
}
@mixin menu-style() {
  width: 100%;
}
@mixin title-text($text-color: $dark-text-color) {
  @include font-style($font-size: 6.5vw, $font-family: $yanone-font, $color: $text-color);
  font-stretch: 50%;
}
@mixin block-text($text-color: $dark-text-color) {
  @include font-style($color: $text-color, $font-family: $vollkorn-font, $font-size: 18px);
}

@mixin list-without-dots {
  @include to-center_row();
  list-style-type: none;
}
@mixin transition-for-links($transition: $transition) {
  position: relative;
  width: 0;
  transition: $transition;
}
@mixin text-link-hover($opacity: 90%, $text-decoration: underline) {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: $opacity;
  background-color: $dark-background-color;
  border: $border-color;
  width: 100%;
}
@mixin button($border: $borders-default, $color: $dark-text-color) {
  border: $border;
  border-radius: 2px;
  @include font-style($font-size: 14px);
  width: 210px;
  height: 55px;
  background-color: #0000;
  transition: $transition;
}
@mixin link-list($color: $dark-text-color) {
  text-decoration: none;
  color: $dark-text-color;
  padding: 16px;
}
@mixin gridAutoFill(
  $justify: center,
  $align: center,
  $template-cols: repeat(auto-fill, minmax(250px, 1fr)),
  $gap: 10px
) {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: $template-cols;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  overflow-y: scroll;
}
