@import "../../consts/block-mixins.scss";

.text-block {
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
  .text-block__title {
    @include title-text();
  }
  .text-block__text {
    @include block-text();
    text-align: left;
  }
}
