@import "../../consts/block-mixins.scss";

.restate__grid-block {
  width: 100%;
  @include to-center_column($justify: center);
  padding: 3%;
}
.restate__grid {
  max-width: 600px;
  @include gridAutoFill($template-cols: repeat(2, minmax(200px, 1fr)), $gap: 1px);
  background-color: $border-color;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1px;
  &.mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
