@import "../../consts/block-mixins.scss";

.visarun {
  width: 100%;
  @include to-center_column();
  .visarun__title {
    width: 70%;
  }
  .visarun-map__maps {
    width: 100%;
    padding: 4%;
  }
}
