@import "./consts/block-mixins.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: $light-background-color;
}
#root {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  @include font-style();
  @include to-center_column(center, space-between);
}
.title {
  @include title-text();
  text-align: center;
  padding: 2%;
  &.tablet {
    font-size: 45px;
  }
  &.mobile {
    font-size: 40px;
  }
}
