@import "../../consts/consts.scss";
@import "../../consts/mixins.scss";

.swipe-menu {
  position: fixed;
  width: 60vw;
  border: $borders-default;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $dark-background-color;
  overflow-y: scroll;
  z-index: 0;
  transition: $transition;
  &.mobile {
    width: 100vw;
  }
}
.hamburger-react {
  z-index: 1;
}
