@import "../../consts/block-mixins.scss";

.news-container {
  @include to-center_row();
  width: 100%;
  border-top: $borders-default;
  &.tablet {
    @include to-center_column();
  }
  &.mobile {
    @include to-center_column();
  }
}
.news-container:last-of-type {
  border-bottom: $borders-default;
}
