@import "../../consts/block-mixins.scss";

.header {
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  @include to-center_row();
  height: 100px;
  border-bottom: $borders-default;
  background-color: $light-background-color;
  z-index: 10;
  max-width: 3000px;
  &.mobile {
    height: 70px;
  }
  &.tablet {
    height: 70px;
  }

  .header__main {
    @include to-center_column($align: flex-start);
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;

    .header__logo {
      position: absolute;
      width: 100px;
      top: 15px;
      left: 55px;
    }
  }
  .header__mobile-logo {
    position: absolute;
    width: 150px;
    top: 21px;
    left: 40px;
  }
  .header__page-name {
    @include font-style($font-size: 70px, $font-family: $yanone-font);
    margin: auto;
    &.desktopHD {
      @include font-style($font-size: 40px, $font-family: $yanone-font);
    }
    &.desktop {
      @include font-style($font-size: 24px, $font-family: $yanone-font);
    }
    &.mobile {
      @include font-style($font-size: 40px, $font-family: $yanone-font);
    }
  }
  .header__name {
    position: absolute;
    top: 12px;
    right: 20px;
  }
}
