@import "../../../consts/block-mixins.scss";

.ok-text {
  width: fit-content;
  background-image: url(../../../assets/icons/ok-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  @include to-center_row($justify: center);
  margin: 15px 0;
  background-size: 50px;
  min-height: 50px;
  &.tablet {
    margin: 2% 0;
  }

  &.mobile {
    margin: 6% 0;
  }

  .ok-text__text {
    @include drop-list-text();
    margin-left: 60px;
    &.tablet {
      font-size: 20px;
    }

    &.mobile {
      font-size: 18px;
    }
  }
}
